.header-toolbar {
  color: #ffffff;
  position: relative;
  z-index: 10;

  .toolbar-toggle {
    padding: 0;
    min-width: 46px;
  }

  .header-logo {
    height: 60px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
