<div
  [appBackgroundImage]="wallpaperUrl"
  fxLayout="column"
  fxLayoutAlign="center center"
  class="login-container"
>
  <div class="header">
    <div class="logo-container">
      <img class="app-responsive-img" src="assets/logo-negro-sin-fondo.png" alt="">
    </div>
  </div>
  <form [formGroup]="loginForm" class="form">
    <h5>Log in</h5>
    <div class="content">
      <div class="input-group input-lg">
        <mat-form-field>
          <input matInput formControlName="email" type="text" placeholder="Ingresa tu usuario">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="email.hasError('required')">
            Nombre de usuario es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-group input-lg">
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Contraseña">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="password.hasError('minlength')">
            La contraseña es muy corta
          </mat-error>
          <mat-error *ngIf="password.hasError('required')">
            Contraseña es obligatoria
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="footer text-center">
      <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Inicia Sesión</button>
    </div>
  </form>
</div>
