<mat-sidenav-container (backdropClick)="closeSidenav()">
  <mat-sidenav
    #sidenav
    *ngIf="loggedIn$ | async"
    [opened]="showSidenav$ | async"
    [mode]="mode"
    [ngClass]="{'mat-elevation-z8': mode === 'side'}"
    disableClose
  >
    <app-sidenavmenu></app-sidenavmenu>
  </mat-sidenav>
  <mat-sidenav
    *ngIf="loggedIn$ | async"
    [opened]="showRightSidenav$ | async"
    mode="over"
    position="end"
    disableClose
  >
    <router-outlet name="rightSidenav"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
