<mat-tab-group class="client-profile-tabs">
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="account"></mat-icon>
        <span>Usuario</span>
      </div>
    </ng-template>
    Contenido Usuario
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="piano"></mat-icon>
        <span>Competencia</span>
      </div>
    </ng-template>
    Contenido Competencia
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="briefcase-check"></mat-icon>
        <span>Experiencia</span>
      </div>
    </ng-template>
    Contenido Experiencia
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="laptop"></mat-icon>
        <span>Entorno</span>
      </div>
    </ng-template>
    Contenido Entorno
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="account-outline"></mat-icon>
        <span>Perfil</span>
      </div>
    </ng-template>
    Contenido Perfil
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="calendar-multiple-check"></mat-icon>
        <span>Tareas</span>
      </div>
    </ng-template>
    Contenido Tareas
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="image-multiple"></mat-icon>
        <span>Fotos</span>
      </div>
    </ng-template>
    Contenido Fotos
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="file-document"></mat-icon>
        <span>Documentos</span>
      </div>
    </ng-template>
    Contenido Documentos
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="comment-text-multiple"></mat-icon>
        <span>Comentarios</span>
      </div>
    </ng-template>
    Contenido Comentarios
  </mat-tab>
</mat-tab-group>
