<section class="content">
  <app-block-header title="Experiencia" [breadcrumbs]="breadcrumbs"></app-block-header>

  <div class="component-container">
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <div>
        <mat-form-field>
          <input matInput placeholder="Buscar" #input>
        </mat-form-field>
      </div>
      <div>
        <mat-menu #appMenu="matMenu" overlapTrigger="false">
          <button mat-menu-item [routerLink]="['../sale/add']">Nueva Venta</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon svgIcon="dots-vertical"></mat-icon>
        </button>
      </div>
    </div>



    <div class="responsive_table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Seller Column -->
        <ng-container matColumnDef="seller">
          <th mat-header-cell *matHeaderCellDef>Vendedor</th>
          <td mat-cell *matCellDef="let element">
            <div [matTooltip]="element.saleDate" matTooltipPosition="above">
              {{element.seller}}
            </div>
          </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoría</th>
          <td mat-cell *matCellDef="let element">Categoría</td>
        </ng-container>

        <!-- Client Column -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">
            <a
              [routerLink]="['/admin', {outlets: {rightSidenav: ['client', element.clientId]}}]"
              class="mat-accent"
              (click)="openRightSidenav()"
            >
              {{element.client}}
            </a>
          </td>
        </ng-container>

        <!-- Sale Column -->
        <ng-container matColumnDef="sale">
          <th mat-header-cell *matHeaderCellDef>Negocio</th>
          <td mat-cell *matCellDef="let element">{{element.business}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estatus</th>
          <td mat-cell *matCellDef="let element">
            <a
              [routerLink]="['/admin', {outlets: {rightSidenav: ['sale', element.id]}}]"
              class="mat-accent"
              (click)="openRightSidenav()"
            >
              {{element.status}}
            </a>
          </td>
        </ng-container>

        <!-- Amount and Balance for the sale Column -->
        <ng-container matColumnDef="amountBalance">
          <th mat-header-cell *matHeaderCellDef>Monto Negocio y Saldo</th>
          <td mat-cell *matCellDef="let element" class="align-right">
            {{element.amount}}<br />
            {{element.balance}}
          </td>
        </ng-container>

        <!-- Delivery date for the sale Column -->
        <ng-container matColumnDef="deliveryEstimate">
          <th mat-header-cell *matHeaderCellDef>Entrega Acordada</th>
          <td mat-cell *matCellDef="let element">
            <div [matTooltip]="['Entrega Estimada para el ' + element.deliveryEstimate]" matTooltipPosition="above">
              {{element.delivery}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['../sale', element.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'rowHighlight': selectedRow === row}"
            (mouseenter)="onRowHovered(row)"
            (mouseleave)="onRowHovered(null)"
        ></tr>
      </table>
      <mat-paginator [length]="resultsLength$ | async" [pageSize]="15"></mat-paginator>
    </div>
  </div>
  <br/>
  <!--<td-file-input color="accent" (select)="selectEvent($event)">
    <mat-icon>attach_file</mat-icon>
    <span>Choose a file...</span>
  </td-file-input>
  <div *ngIf="image">
    <img [src]="image.Location" class="app-responsive-img">
    <button mat-button color="primary" (click)="deleteImage()">Borrar</button>
  </div>-->
  <br/>
</section>
