<div class="client-card" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div class="client-img"><img src="http://via.placeholder.com/100x100" alt="User"></div>
  <div *ngIf="user">
    <span class="m-t-10 app-text-default app-text-capitalize">
      {{user.name}}<br />{{user.last_name}}
    </span>
    <div class="detail" *ngIf="user.cargo">
      {{user.cargo}}
      <mat-divider class="l--m-y-20"></mat-divider>
    </div>
  </div>
</div>
<div class="l--m-y-10">
  <mat-slide-toggle
    color="primary"
    (change)="toggled($event)"
    [checked]="isNatural"
  >
    <ng-container *ngIf="isNatural">Persona Física</ng-container>
    <ng-container *ngIf="!isNatural">Persona Jurídica</ng-container>
  </mat-slide-toggle>
</div>
