<div class="client-card">
  <div class="client-img"><img src="http://via.placeholder.com/100x100" alt="User"></div>
  <ng-container *ngIf="user">
    <h4 class="m-t-10 app-heading-4 app-color-white app-text-capitalize">
      {{user.name}} {{user.last_name}}
    </h4>
    <div class="detail" *ngIf="user.cargo">
      {{user.cargo}}
      <mat-divider class="l--m-y-20"></mat-divider>
    </div>
  </ng-container>
  <div>
    <mat-slide-toggle
    color="primary"
    (change)="toggled($event)"
    [checked]="isNatural"
    >
      <ng-container *ngIf="isNatural">Persona Natural</ng-container>
      <ng-container *ngIf="!isNatural">Persona Jurídica</ng-container>
    </mat-slide-toggle>
  </div>
</div>
