<div class="client-card">
  <div class="header"></div>
  <div class="client-img"><img src="http://via.placeholder.com/150x150" alt="User"></div>
  <div fxLayout="column" fxLayoutAlign="center center" class="header-info app-bg-color-primary">
    <div *ngIf="user">
      <h4 class="m-t-10 app-heading-4 app-color-white app-text-capitalize">
        {{user.name}} {{user.last_name}}
      </h4>
      <span *ngIf="user.cargo">
        {{user.cargo}}
      </span>
    </div>
    <div
      gdColumns="1fr 1fr"
      gdGap="5px"
      class="app-full-width app-color-white"
    >
      <div
        gdColumns="1fr"
        gdGap="10px"
        class="align-left l--p-l-10"
      >
        <div>
          <mat-icon svgIcon="phone"></mat-icon>
        </div>
        <div>
          <mat-icon svgIcon="email"></mat-icon>
        </div>
        <div>
          <mat-icon svgIcon="map-marker"></mat-icon>
        </div>
      </div>
      <div
        gdColumns="1fr"
        gdGap="10px"
        class="align-left"
      >
        Otra info
      </div>
    </div>
  </div>
</div>
