<div fxLayout="row" fxLayoutAlign="center center" class="l--m-t-100">
  <mat-card class="align-center">
    <mat-card-title>
      <h1 class="l--m-b-0">404</h1>
      <p class="l--m-t-0">Página no encontrada</p>
    </mat-card-title>
    <mat-card-content>
      <p>La página que intentaste acceder no existe o la dirección es incorrecta.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/">Volver al Inicio</button>
    </mat-card-actions>
  </mat-card>
</div>
