html, body {
  margin: 0;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.mat-drawer-container {
  background-color: #ffffff;
}

.container {
  padding: 10px;
}

a {
  cursor: pointer;
}

.mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mat-tab-body-content {
  padding: 0 10px;
}

.client-profile-tabs {
  .mat-ink-bar,
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
    display: none;
  }

  .mat-tab-labels {
    flex-wrap: wrap;
  }

  .mat-tab-label {
    min-width: 118px;
    padding: 0 16px;
  }
}

.mat-icon.icon-size-32 {
  transform: scale(1.5);
}

@media(max-width: 800px) {
  .responsive_table {
    overflow-x: auto !important;
  }

  .mat-table {
    min-width:800px;
  }
}
