html, body {
  margin: 0;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.mat-drawer-container {
  background-color: #ffffff;
}

.container {
  padding: 10px;
}

a {
  cursor: pointer;
}

.mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
