body {
  font-family: $base-font-family;
}

.app-heading-1{
  font-size: 48px;
  font-weight: 500;
}
.app-heading-2{
  font-size: 36px;
  font-weight: 300;
}
.app-heading-3{
  font-size: 24px;
  font-weight: 300;
}
.app-heading-4{
  font-size: 20px;
  font-weight: 300;
}
.app-text-normal{
  font-size: 16px;
  font-weight: 300;
}
.app-text-default{
  font-size: 14px;
  font-weight: 300;
}
.app-text-small{
  font-size: 12px;
  font-weight: 300;
}

.app-text-link {
  cursor: pointer;
}
