//** Base fonts **//
$base-font-family: unquote('Montserrat, Helvetica Neue,  Arial, sans-serif');
$base-font-size: 14px;

//** Grid breakpoints **//
$grid-desktop-breakpoint: 960px;
$grid-tablet-breakpoint: 600px;
